.advonps-title {
  font-size: $font-size-body;
}

.advonps-survey--wrapper {
  overflow: hidden;
  position: relative;
}

.advonps-center {
  text-align: center;
}

.advonps-left {
  text-align: left;
}
