$c-white: #fff;
$gray-2: #e2e6e8;
$gray-3: #333;
$gray-6: #2d3033;

$c-border-base: $gray-2;

$border-base: 1px $c-border-base solid;

$c-border-button: #a4aeb3;
$c-background-button: #f4f4f5;
$c-color-button: $gray-6;

$font-base-color: $gray-3;

$font-size-body: 18px;
$font-size-smaller: 14px;

$border-width: 1px;
$border-radius: 3px;

$button-height: 30px;

$size-xs: 5px;
$size-sm: 10px;
$size-md: 20px;
$size-touchpoint: 44px;

$head-foot-height: 48px;
$font-family: Helvetica, Arial, sans-serif;

$c-primary-green: #38a564;
