<div class="powered-by">
  {{#unless hidePoweredBy}}
    {{text}}
    <a
      style="color: {{color-config 'primaryColor'}}"
      href="https://www.advocate.ly"
      target='_blank'>Advocately</a>
  {{/unless}}
</div>
