<div class="advo-powered-by">
  {{#unless hidePoweredBy}}
    {{i18n-t 'powered_by'}}
    <a
      style="color: {{color-config 'primaryColor'}}"
      href="https://www.advocate.ly"
      target='_blank'>Advocately</a>
  {{/unless}}
</div>
